# Temporary files
*~
*.swp


# Folders for temporary things and data
data/
data/*
alternate/*
tests/*
bin/
bin/*
obj/
obj/*

# Plotting files, for now
*.plt


# Data Files
*.dat

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
